@import '../../../styles.scss';

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture {
  @include important-part;
  height: "42px";
}

.user-number {
  align-items: center;
  justify-content: center;
  display: flex;
  @include color-container;

}

.amount {
  font-weight: bold;
}

.amount-padding {
  padding: 48px 0px;
}

.amount-input {
  padding-bottom: 72px;
  font-size: 56px;
  display: flex;
  justify-content: center;
  text-align: center;

  input {
    width: 72px;
    height: 72px;
    border: none;
    text-align: center;
    @include color;
  }

  .no-amount {
    width: 168px;
    font-size: 16px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input-outline:focus {
  outline: none;
}

.input-group-addon {
  padding: 4px 0px 4px 4px;
  font-size: 56px;
}

.box {
  padding-left: 72px;
}

.due {
  align-items: flex-start;
}

.account-type {
  text-align: left;
  padding: 4px;
  margin-bottom: 0px;
  @include color-container;
}

.account-number {
  padding: 4px;
}

.click {
  text-align: center;
  padding: 24px;
  @include color-container;
}

.subtitle {
  @include special-text;
}


.view {
  padding: 24px;
}

.date {
  text-align: left;
  padding: 4px;
}

h1 {
  @include child-container;
}

h5 {
  text-align: center;
}

h4 {
  text-align: center;
}
.user-subprofile{
  left: 16px;
  border-radius: 96px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 48px;
  width: 16px;
}
.title {
  text-align: center;
  font-weight: bold;
}

.view {
  text-align: center;
  @include special-text;
}

@media (min-width:320px) and (max-width:570px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .due {
    align-items: flex-start;
  }

  .line-break {
    width: 100%;
  }

  .accountnum {
    text-align: left;
  }
}

.user-profile {
  border-radius: 96px;
  height: 48px;
}

@media (min-width:769px) and (max-width:2500px) {
  .user-profile {
    width: 48px;
    display: flex;
  }

  .account {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}