.header-container {
    text-align: center;
}

.confirm-icon {
    margin-top: 30px;
    height: 60px;
    width: 60px;
}

.money-requested {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.transaction-amount {
    font-size: 80px;
    text-align: center;
    color: rgb(6, 97, 201);
}

.total-request-amount {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.split-amount-container {
    margin-top: 40px;
    margin-bottom: 40px;
    background: white
}



.recipient-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.recipient-name {
    font-size: 20px;
}

.phone-number {
    font-size: 15px;
}

.confirmation {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.phone-number {
    font-weight: bold;
    font-size: 16px;
}

.deposit {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.main-checking {
    font-weight: bold;
    font-size: 16px;
    color: rgb(4, 101, 180);
}

.footer-hr{
    margin-bottom: 80px;
}

.deposit-container{
    padding-right: 20px;
}

.confirmation-container{
    padding-left: 20px;
}


.bill-amount-container{
    padding-right: 10px;
}

.split-amount{
    color: rgb(4, 101, 180);
    font-size: 20px;
    font-weight: bold;
}

.recipient-container{
    padding-left: 10px;
}
