<header class="heading mb-4">{{header.screen1}}</header>

<div class="section1 mb-4">
    <h3 class="subHeading1"> {{literal.quickAdd}}</h3>
    <div class="userBill">
        <div *ngFor="let item of billerNetworkList">
            <div class="billOne">
                <input type="checkbox" class="input" name="user" [checked]="item.isSelected" (change)="onSelectionChange(item)">
                <label class="company">
                {{item.recipient}}
                <span class="number">{{item.accNumber}}</span>
                <span><img [src]="item.userLogo" class="wmlogo"></span>
                </label>
            </div>
        </div>

        <div *ngFor="let item of creditReportList">
            <div class="billOne">
                <input type="checkbox" class="input" name="user" [checked]="item.isSelected" (change)="onSelectionChange(item)">
                <label class="company">
                {{item.recipient}}
                <span class="number">{{item.accNumber}}</span>
                <span><img [src]="item.userLogo" class="wmlogo"></span>
                </label>
            </div>
        </div>
    </div>
</div>


  <div class="section2 mb-5">
    <h3 class="subHeading1">{{literal.addVerification}}</h3>
    <div class="userBill">
      <div class="billOne mb-3">
        <input type="checkbox" class="input" name="user" [(ngModel)]="checkbox3" (change)="onCheckboxChange()">
        <label class="company">
          &nbsp;Gas & Energy&nbsp;
          <span class="number">{{data.accNumbergasEnrg}}</span>
          <span><img src="../../../assets/images/gas and energy.png" class="rcnlogo"></span>
        </label>
      </div>
      <div class="billOne">
        <input type="checkbox" class="input" name="user" [(ngModel)]="checkbox4" (change)="onCheckboxChange()">
        <label class="company">
          &nbsp;DirectTV&nbsp;
          <span class="number">{{data.accNumberDirectTv}}</span>
          <span><img src="../../../assets/images/directv-1.png" class="wmlogo"></span>
        </label>
      </div>
    </div>
  </div>

<!-- <div class="d-grid gap-2 col-12 mx-auto">
    <button class="btndone" routerlink="/successfailure" type="button" [disabled]="!checkbox1 && !checkbox2 && !checkbox3 && !checkbox4">{{literal.btnContinue}}</button>
     <button type="button"  class="btncancel">{{literal.btnCancel}}</button></div>    -->
<div class="btncontainer">
    <p360-button [type]="buttonType.SUBMIT" [data]="literal.btnContinue"
        [disabled]="!checkbox1 && !checkbox2 && !checkbox3 && !checkbox4" (click)="addSelectedBills()">
    </p360-button>
    <p360-button [type]="buttonType.CANCEL" (click)="onSubmit(route.FINDMOREBILLS)" [data]="literal.btnCancel">
    </p360-button>
</div>
