<div>
    <!-----------Header--------------->
    <app-header [data]="header.screen2"></app-header>

    <!--------Account Details--------->
    <div class="user-details">
        <img class="user-profile" src="{{userLogo}}">
        <img *ngIf="paymentMode !==paymentType.BILLER" class="user-subprofile" src="{{subUserLogo}}">


        <h6 class="text text-center">{{accountDetails.recipient}} {{accountDetails.accountNo}}</h6>
        <h5 class="text text-center">{{accountDetails.enrolledAs}}</h5>
        <h6 class="user-number"> {{getMobile()}}</h6>
    </div>
    <hr class="mb-1" />

    <!------------Zelle--------------->
    <div class="user-profile">
        <img *ngIf="paymentMode!==paymentType.BILLER" class="zelle-profile" src="{{zelleImage}}" alt="">
    </div>

    <!------------Input-1--------------->

    <div class="input-row1">

        <!------------Amount--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="amount" class="label form-label">{{literal.amount}}</label>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id="amount" placeholder="{{literal.placeholder}}"
                    autocomplete="off" value="{{amount}}" [readonly]="paymentMode !== paymentType.REQUESTOR">
            </div>
        </div>
        <!------------Dropdown--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="amount" class="label form-label">{{literal.withdrawFrom}}</label>
            <div class="col-auto ">
                <div class="input-group mb-1">
                    <input type="text" class="form-control" id="amount" (click)="isOpen = !isOpen"
                        value={{selectedData}} cdkOverlayOrigin #trigger="cdkOverlayOrigin" /><span class="arrow-down"> </span>
                </div>
            </div>
        </div>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">

            <div class="list-container list border-bottom">
                <div>{{literal.choose}}</div>
                <button class="cross-button" (click)="isOpen = false">&#10005;</button>
            </div>
            <ul class="list">
                <li (click)="onDropDownClick(item)" *ngFor="let item of dropDownDetails"
                    [ngClass]="item.selected  ? 'selected-list' : ''">
                    <div class="list-container margin-bottom ">
                        <div>
                            <div><a class="link" href="#"> <small>{{item.faster}}</small></a></div>
                            <div *ngIf="item.selected"><small>{{literal.selected}}</small></div>
                        </div>
                        <div><small>{{item.arrives}}</small></div>
                    </div>
                    <div class="list-container">
                        <div>
                            <div>{{item.paymentType}} {{item.fee}}</div>
                            <small>{{item.paymentType}} {{item.cardNo}}</small>
                        </div>
                        <div>{{item.balance}}</div>
                    </div>
                </li>
            </ul>

        </ng-template>
    </div>

    <!------------Input-2--------------->
    <div class="input-row2">
        <!------------Date--------------->
        <div class="form mb-3 col-sm-5 col-md-5 col-lg-5">
            <label for="dateTimePicker" class="label form-label">{{literal.deliveryBy}}</label>
            <div class="col-auto ">
                <div class="input-group mb-1">
                    <div class="form-control" id="dateTimePicker" contenteditable="false" cdkOverlayOrigin
                        #dateTime="cdkOverlayOrigin">{{selectedDay}}, {{selectedMonth}} {{model.day }}, {{ model.year }}
                        <button id="calenderButton" (click)="isOpenDateTime = !isOpenDateTime"
                            class="calender-icon-button" title="calender"><i
                                class="fa-regular fa-calendar"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="dateTime"
            [cdkConnectedOverlayOpen]="isOpenDateTime">
            <div>
                <ngb-datepicker #dp [(ngModel)]="model" [ngModelOptions]="{standalone: true}" [minDate]="minPickerDate"
                    [maxDate]="maxPickerDate">
                </ngb-datepicker>
            </div>

        </ng-template>
        <!------------Memo--------------->
        <div class="form mb-2 col-sm-5 col-md-5 col-lg-5">
            <label for="memo" class="label mb-2">{{literal.memo}}</label>
            <div class="form-control" contenteditable="true" readonly>{{literal.reason}}</div>
        </div>
    </div>

    <!------------Recurring Payment--------------->
    <div class="checkbox check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="recurring">
        <label class="label form-check-label" for="recurring">{{literal.recurringPayment}}</label>
    </div>

    <!------------Pay Button--------------->
    <div class="text text-center">
        <p360-button [type]="buttonType.SUBMIT" [data]="literal.payButton" [recipient]="accountDetails.recipient"
            [amount]="amount " (click)="openPopup()"></p360-button>
    </div>

    <!------------Modal--------------->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="header" src="{{userLogo}}" alt="">
                </div>
                <div class="modal-body">
                    <p>{{literal.modalRecipient}} <span class="modal-mobile">{{accountDetails.recipient}}</span></p>
                    <p *ngIf="paymentMode!== paymentType.BILLER"><span
                            class="modal-mobile">{{getMobile()}}</span>&nbsp;{{literal.enrolledAs}}</p>
                    <p>{{literal.continue}}</p>
                </div>
                <div class="modal-footer">
                    <p360-button class="button" [data]="literal.btnCancel" [type]="buttonType.CANCEL"
                        (click)="closePopup()"></p360-button>
                    <p360-button class="button" [data]="literal.btnContinue" [type]="buttonType.SUBMIT"
                        (click)="onSubmit(route.OTPSCREEN)"></p360-button>
                </div>
            </div>
        </div>
    </div>
    <!------------Back Button--------------->
    <div class="text text-center">
        <p360-button [type]="buttonType.CANCEL" (click)="onSubmit(route.AMOUNTTOPAY)" [data]="literal.backButton">
        </p360-button>
    </div>

</div>