<div class="success-container">
    
    <div class="success-header-parent">

        <div class="text-center">

            <i class="bi bi-check-circle-fill " style="color: #29479e; font-size: 60px;"></i>

        </div>

        <div class="success-header text text-center">{{header.congratulations}}</div>

    </div>

    <div class="success-text">{{literal.zelleSuccessTxt}}</div>

</div>

<footer class="btn-footer">

    <div class=" text text-center">

        <p360-button [type]="buttonType.SUBMIT" [data]="literal.zelleFooterBtnTxt" (click)="onSubmit(route.DASHBOARD)">

        </p360-button>

    </div>

</footer>




