<div class="carousel-container">
    <ngb-carousel class="custom-carousel" [showNavigationArrows]="false" [showNavigationIndicators]="true"
      [interval]="5000" [keyboard]="true" [pauseOnHover]="true" [wrap]="true" >
  
      <ng-template ngbSlide>
  
        <!------------slide1--------------->
  
        <div class="img">
          <img src="{{slideImage[0]}}" alt="slide1">
          <!-- <img  class="user-logo" src="{{slideimage}}" alt=""> -->
        </div>
  
        <div class="centered-first">
          <h1 class="header"><span class="zoom">{{literal.ftitle}}</span></h1>
          <p class="header-sub">{{literal.ftext}}</p>
        </div>
        <div class="carousel-caption">
          <h4 class="second-header">{{literal.pay}}</h4>
          <p>{{literal.send}}</p>
        </div>
        <div class="btncontainer">
          <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.PERMISSIONS)"></p360-button>
        </div>
      </ng-template>
  
      <!------------slide2--------------->
  
      <ng-template ngbSlide>
        <div class="img">
          <img src="{{slideImage[1]}}" alt="slide2">
        </div>
        <h1 class="centered"><span class="zoom">{{literal.stitle}}</span></h1>
        <div class="carousel-caption">
          <h4 class="second-header">{{literal.schedule}}</h4>
          <p>{{literal.payall}}</p>
        </div>
        <div class="btncontainer">
          <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.PERMISSIONS)"></p360-button>
        </div>
      </ng-template>
  
      <!------------slide3--------------->
  
      <ng-template ngbSlide>
        <div class="img">
          <img src="{{slideImage[2]}}" alt="slide3">
        </div>
        <h1 class="centered"><span class="zoom">{{literal.ttitle}}</span></h1>
        <div class="carousel-caption">
          <h4 class="second-header">{{literal.move}}</h4>
          <p>{{literal.simple}}</p>
        </div>
        <div class="btncontainer">
          <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.PERMISSIONS)"></p360-button>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="navbar">
      <a href="#user" class="active"><i class="far fa-user"></i>
        <div>{{literal.user}}</div>
      </a>
      <a href="#payment"><i class="far fa-dollar"></i>
        <div>{{literal.payment}}</div>
      </a>
      <a href="#explore"><i class="far fa-clone"></i>
        <div>{{literal.explore}}</div>
      </a>
      <a href="#more"><i class="fa fa-th-large"></i>
        <div>{{literal.more}}</div>
      </a>
    </div>
  </div>
