<header>
    
    <div class="header-container">
        <div>
            <img class="confirm-icon" src="../assets/images/confirm.png" alt="confirm">
            <div class="money-requested">{{literal.moneyRequested}}</div>
        </div>
        
        <div>
            <div class="transaction-amount">${{transactionAmount}}</div>
            <div class="total-request-amount">{{literal.totalRequestAmount}}</div>
        </div>
    </div>
</header>
<div class="split-amount-container">
    <div class="split-amount-items" *ngFor="let item of amountToSplitList;let indexOfelement=index;">
        <div class=" split-amount-item d-flex justify-content-between align-items-center gap-2 my-3 mb-3">
            <div class="amount-item  d-flex gap-2 flex-grow-1 align-items-center" *ngIf="item.recipientName!='You'">
                <div class=" recipient-container d-flex gap-2 flex-grow-1 align-items-center">
                    <img class="biller-logo mr-2" src="{{item.userLogo}}" alt="{{item.recipientName}}">
                    <div>
                        <div class="recipient-name">{{item.recipientName}}</div>
                        <div class="phone-number"> {{item.phoneNumber}}</div>
                    </div>
                </div>
                <div class="bill-amount-container">
                    <div class="split-amount">
                        ${{splitAmount}}
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="indexOfelement>recipientNumber">
    </div>
</div>
<hr>
<div class="footer-container d-flex justify-content-between align-items-center">
    <div class="confirmation-container">
        <div class="confirmation">{{literal.confirmation}}</div>
        <div class="phone-number">{{phoneNumber}}</div>
    </div>
    <div class="deposit-container">
        <div class="deposit">{{literal.depositedTo}}</div>
        <div class="main-checking">{{literal.mainChecking}}</div>
    </div>
</div>
<hr class="footer-hr">
<footer>
    <p360-button [type]="buttonType.SUBMIT" [data]="literal.finish" (click)="onSubmit(route.DASHBOARD)">
    </p360-button>
</footer>