<div class="home">
    <button class="menu" (click)="onPaymentClick('biller')">Bill Payment</button>
    <button class="menu" (click)="onPaymentClick('sender')">Send Payment</button>
    <button class="menu" (click)="onPaymentClick('requestor')">Request Payment</button>
    <button class="menu" (click)="onClick1('onboarding')">Add Bills</button>
    <!-- <button class="menu" (click)="onClick2('zelleonboarding')">Select Primary Account</button> -->
    <button class="menu" (click)="onClick3('todo')">To-do</button>
    <button class="menu" (click)="onClick4('startscreen')">Bill-Pay Onboarding</button>
    <button class="menu" (click)="onClick5('zellestartscreen')">Zelle Onboarding</button>
    <button class="menu" (click)="onClick6('dashboard')">Dashboard</button>
    <!-- <button class="menu" (click)="onSuccessScreenClick('successscreen')">Success Screen</button>
    <button class="menu" (click)="onGeneralOnboardingSuccessScreenClick('generalonboardingsuccessscreen')">Zelle Success Screen</button> -->
    <!-- <button class="menu" (click)="onfind('findmorebills')">Find More Bills</button>
    <button class="menu" (click)="onSelectAddBills('selectaddbills')">Select Add Bills</button>
    <button class="menu" (click)="onSuccessFailure('successfailure')">Success or Failure</button> -->
    <!-- <button class="menu" (click)="onClick('permissions')">permissions</button>
    <button class="menu" (click)="onclick('zellepermissions')">zellepermissions</button>
    <button class="menu" (click)="onclk('startscreen')">start-screen</button>
    <button class="menu" (click)="oncl('zellestartscreen')">zellestart-screen</button>
    <button class="menu" (click)="onClick4('user')">Setup Payment</button>
    <button class="menu" (click)="onclick5('zelleuser')">Zelle Setup Payment</button> -->

</div>

