<div class="home">
    <button class="menu" (click)="onPaymentClick('biller')">Bill Payment</button>
    <button class="menu" (click)="onPaymentClick('sender')">Send Payment</button>
    <button class="menu" (click)="onPaymentClick('requestor')">Request Payment</button>
    <button class="menu" (click)="onClick1('onboarding')">Add Bills</button>
    <button class="menu" (click)="onClick2('zelleonboarding')">Select Primary Account</button>
    <button class="menu" (click)="onClick3('todo')">To-do</button>
</div>

