@import '../../../styles.scss';

.parent-container {
    min-height: calc(100vh - 120px);
}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
}



.split-item-content, .recipient-list-content {
   background-color: white;
   border-radius: 5px;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 1px;
   padding-bottom: 1px; 
}
.zelle-profile{
    width: 82px;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.cancel {
    text-decoration: none;
    color: #29479e;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.select-recipients {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 14px;

}

.split-item-header {
    display: flex;
    justify-content: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}
.recipient-list-content {
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-left: -16px;
    margin-right: -16px;
}

.recipient-list-header{
    display: flex;
    justify-content: start;
    font-size: 18px;
    font-weight:bold;
    margin-bottom: 10px;
}
.left-pan{
    color: #29479e;
    font-size: 16px;
    font-weight: bold;
}

// new search bar css starts


   .inputs{
        position: relative;
   }

   .form-control {
        text-indent: 15px;
        border: none;
        height: 45px;
        border-radius: 0px;
        border-bottom: 1px solid rgb(112, 112, 112);
        background: transparent;
   }

   .inputs i{
        position: absolute;
        top: 14px;
        left: 4px;
        color: #b8b9bc;
   }

   .time-text{
        font-size: 12px;
        color: #989898;
   }

   .recipient-list-parent{
    margin-bottom: 80px;
   }

   .zelle-header {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: auto;
   }
   .split-zelle{
    font-size: 30px;
   }

   //end of new search bar css