<div class="parent-container">
      <header>
            <div class="header-container">
                  <div class="cancel" (click)="onSubmit(route.RECENTACTIVITY)">{{literal.cancel}}</div>
                  <div class="zelle-header">
                        <div class="split-zelle"> {{header.splitWithZelle}}</div>
                        <img class="zelle-profile" src="{{zelleImage}}" alt="ZelleLogo">
                  </div>
            </div>
      </header>
      <div class="select-recipients">{{literal.selectRecipients}}</div>
      <div class="my-5">
            <div class="split-item-header">
                  {{literal.transactionToSplit}}
            </div>
            <div class="split-item-content" (click)="onBillClicked()">
                  <div class="d-flex justify-content-between align-items-center gap-2 my-3 mb-3">
                        <div class="d-flex gap-2 flex-grow-1">
                              <img class="biller-logo mr-2" src="{{item.userLogo}}" alt="userLogo">
                              <div>
                                    <div class="bill-recipient ellipsis">
                                          {{item.recipientName}}
                                    </div>
                                    <div class="bill-payment-date">
                                          {{item.paymentDate}}
                                    </div>
                              </div>
                        </div>
                        <div class="bill-amount">
                              ${{item.transactionAmount}}
                        </div>
                  </div>
            </div>
      </div>
      <div class="search-container my-5">
            <div class="mt-3 inputs">
                  <div class="form">
                        <i class=" bi bi-search"></i>
                        <input type="text" aria-label="search-input" class="form-control"
                              placeholder="Search by name, email, or number">
                        <span class="left-pan">{{literal.add}}</span>
                  </div>
            </div>
      </div>
      <div class="recipient-list-parent">
            <div class="recipient-list-header">
                  {{literal.suggestedRecipients}}
            </div>
            <div class="recipient-list-content" *ngFor="let item of suggestedRecipientsList">
                  <div class="d-flex justify-content-between align-items-center gap-2 my-3 mb-3">
                        <div class="d-flex gap-2 flex-grow-1">
                              <img class="biller-logo mr-2" src="{{item.userLogo}}" alt="{{item.recipient}}">
                              <!-- <img class="user-subprofile" src="{{subUserLogo}}"> -->
                              <div>
                                    <div class="bill-recipient ellipsis">
                                          {{item.recipient}}
                                    </div>

                                    <div class="recipient-phone">
                                          {{item.phoneNo}}
                                    </div>
                              </div>
                        </div>
                        <input *ngIf="billClicked" type="checkbox" class="" name="selectedItem" name="selectedItem"
                              (change)="onSelectionChange(item)">
                  </div>
            </div>
      </div>
      <footer>
            <p360-button [type]="buttonType.SUBMIT" [data]="literal.next" (click)="onSubmit(route.AMOUNTTOSPLIT)">
            </p360-button>
      </footer>

</div>