@import '../../../styles.scss';


.account-container {
    margin-top: 40px;
}

.account-header {
    width: 300px;
    //min-width
}

.account-item-type {
    height: max-content;
    font-size: 24px;
}

.account-item-no{
    color:grey;
    margin-left: 23px;
}

.account-parent {
    min-height: calc(100vh - 220px);
    margin-top: 40px;
}

input[type='radio']{
    width: 25px;
    height: 25px;
    color: #29479e;
}
