<div class="account-parent">
    <div class="account-header mx-auto">
        <app-header [data]="header.screen1"></app-header>
        <div class="d-flex justify-content-evenly align-items-center text-center gap-1 my-4 fs-6">
            {{literal.accountSelectionText}}</div>
    </div>
    <div class="account-container">
        <div *ngFor="let item of accountList; let idx = index">
            <div class="d-flex flew-row justify-content-start align-items-center gap-2 mt-3 ml-3 ">
                <input type="radio" id="{{item.accountType}}" name="accounttype" value="accounttype" [checked]="(idx === 0)" />
                <label class="account-item-type" for="{{item.accountType}}">{{item.accountType}}</label>
            </div>
            <div class="account-item-no">{{item.accountNo}}</div>
        </div>
    </div>
</div>
<footer>
    <div class="text text-center">
        <p360-button [type]="buttonType.SUBMIT" [data]="literal.enrollmentBtn" (click)="onSubmit(route.SUCCESSSCREEN)">
        </p360-button>
    </div>
</footer>
