.btndone {
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: #29479e;
    // margin-bottom: 8px;
    border-radius: 1px;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s linear;

    &:hover,
    &.active {
        background-color: #899cc9;
    }
}

.btncancel {
    @extend .btndone;
    background-color: #d1dee6;
    color: #29479e;

    &:hover,
    &.active {
        background-color: #edf2f5;
    }
}

@media (min-width:150px) and (max-width:575px) {
    .btndone {
        width: 100%;
    }

    .btncancel {
        width: 100%;
        background-color: transparent;
    }
}
