<header>
    <div class="header-container">
        <div class="header">
            <div class="cancel" (click)="onSubmit(route.SPLITPAYMENT)">{{literal.cancel}}</div>
            <div class="header1">
            {{header.splitWithZelle}}   
            <img class="zelle-profile" src="{{zelleImage}}" alt="ZelleLogo">
            </div>
        </div>
        <div class="split-request">{{literal.reviewTxt}}</div>
        <hr>
        <div>
            <div class="total-request-amount">{{literal.totalRequestAmount}}</div>
            <div class="transaction-amount">${{transactionAmount}}</div>
        </div>
    </div>
</header>

<div class="split-amount-container">
    <div class="split-amount-items" *ngFor="let item of suggestedRecipientsList;let indexOfelement=index;">
        <div class=" split-amount-item d-flex justify-content-between align-items-center gap-2 my-3 mb-3">
            <div class="amount-item  d-flex gap-2 flex-grow-1 align-items-center">
                <div class=" recipient-container d-flex gap-2 flex-grow-1 align-items-center">
                    <img class="biller-logo mr-2" src="{{item.userLogo}}" alt="{{item.recipient}}">
                    <div>
                        <div class="recipient-name">{{item.recipient}}</div>
                        <div class="phone-number"> {{item.phoneNo}}</div>
                    </div>
                </div>
                <div class="bill-amount-container">
                    <div class="split-amount">
                        ${{splitAmount}}
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="indexOfelement>recipientNumber">
    </div>
</div>

  <!------------Memo--------------->
  <div class="form mb-2 col-sm-5 col-md-5 col-lg-5">
    <div class="memo">{{literal.memo}}</div>
    <input class="form-control"   aria-label="input-box" placeholder="Reason for...">
</div>

<footer>
    <div class="footer-container">
        <div class="deposit">{{literal.depositTxt}}</div>
        <div class="main-checking">{{literal.mainChecking}}</div>
    </div>
    <p360-button [type]="buttonType.SUBMIT" [data]="literal.split" (click)="onSubmit(route.SPLITPAYMENTCONFIRMATION)">
    </p360-button>
</footer>