.header-container {
    margin-bottom: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.recent-activity-container {
    min-height: calc(100vh - 150px);
    background-color: white;
}

.recent-activity-item {
    align-items: center;
}

.search-btn{
    color: #0052BD;
    font-size: 22px;
}

.recent-activity-header {
    text-align: end;
    font-weight: bold;
    font-size: 27px;
}

.back-btn {
    font-weight: bold;
    font-size: 30px;
}

.biller-logo {
    width: 20%;
    height:20%;
    border-radius: 50%;
    margin-left: 3px;
    vertical-align: middle;
}


.recipient-name {
    font-weight: bold;
    font-size: 18px;
}

.back-arrow {
    width: 40px;
    height: 40px;
    font-weight: bold;
}

.bill-amount {
    text-align: end;

}

.bill-status {

    text-align: end;
}

.bill-paymentType-send {
    text-align: end;
    font-weight: bold;
    color:#B30000;
    margin-right: 5px;
}

.bill-paymentType-recieve {
    text-align: end;
    font-weight: bold;
    color: green;
    margin-right: 5px;
}

.bill-paymentType-none {
    text-align: end;
    font-weight: bold;
    color: black;
    margin-right: 5px;

}


.bill-status-pending {
    text-align: end;
    margin-right: 5px;
    color: #854700;
}

.bill-status-schedule {
    text-align: end;
    margin-right: 5px;
    color: #0052BD;
}

.bill-date-schedule {
    color: #0052BD;
}


.header-row{
    margin: 1px;
}


.todo-footer {
    position: sticky;
    bottom: 0;
    z-index: 999;
    background-color: #f7f7f7;
    padding-top: 10px;
    min-width: 108%;
    margin: 0px -16px -16px -16px;
    overflow-y: hidden;
    border-top: 2px solid rgb(194, 194, 194);
    // height: 100%;
}



.nav-bar__style {
    //background-color: #edf2f514;
    margin-bottom: -25px;
}

.add-biller__type {
    color: #0052BD;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.due-soon-heading {
    font-weight: bold;
    font-size: 20px;
}


.upcoming-heading {
    font-weight: bold;
    font-size: 20px;
}

.tab-navigation {
    display: flex;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.navigation {
    padding: 10px;
}

.tab {
    width: 100%;
    cursor: pointer;
    //padding: 16px 0 8px;
    padding: 6px;
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    border-top: 2px solid rgb(194, 194, 194);
    border-bottom: none;
    border-left: none;
    border-right: none;
    word-spacing: 0.5ch;
    font-size: 14px;
    min-height: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 8px;
}

.tab.active {
    color:#0052BD;
    border-top: 2px solid #0052BD;
}

.overlapping-profile {
    margin-left: -20px;
}

.todo-footer img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.bill-icon {
    font-size: 22px;
}


.filter-button {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    width: fit-content;
    color: #0052BD;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 12px;
    border-color:#0052BD;
}
.dropdown-content {
    // display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 
.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-item:hover {background-color: #ddd;}

.inputs {
    position: relative;
    width: 73%;
    border-bottom: 1px solid rgb(122, 119, 119);
    margin-left: 10px;
    margin-right: 10px;
}


.form-control {
    text-indent: 1px;
    height: 45px;
    border: none;
    text-align: start;
  
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgb(120, 120, 120);
}


.form-control:focus {
    color: rgb(0, 0, 0);
}

.fa-search {
    position: absolute;
    top: 17px;
    right: 4px;
    font-size: 21px;
    color:#0052BD;
}

.recent-activity-items{
    border-bottom: 1px solid rgb(120, 120, 120); 
    padding: 2px;
}
