<div class="container-setup">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <div class="text-center">

        <i class="bi bi-check-circle-fill " style="color: #29479e; font-size: 50px;"></i>

    </div>
    <div class="text-top">
        <h1 class="payment">{{literal.complete}}</h1>
    </div>
    <div class="box mb-2">
        <h6>{{literal.contact}}</h6>
        <div class="test">
            <h5><b>{{getMobile()}}</b></h5>
            <input class="check" type="radio" [(ngModel)]="model.prop" name="prop" value="A" (change)="checkbox1=true">
        </div>
    </div>
    <div *ngIf="model.prop === 'A'">
        <div class="text-bottom">
            <h4 class="bills">{{literal.text1}} {{billerList.length}} bills</h4>
        </div>
        <div class="text-inside mb-5">
            <h6 class="instant">{{literal.para}}</h6>
        </div>
    </div>
    <div class="btncontainer">
        <p360-button [type]="buttonType.SUBMIT" [data]="literal.confirmationbutton"  [disabled]="!checkbox1" (click)="onSubmit(route.ADDBILLS)"></p360-button>
        <p360-button class="some" [type]="buttonType.CANCEL" (click)="Cancel()" [data]="literal.skipbutton">{{literal.skipbutton}}</p360-button>
    </div>
</div>
