<!-- in img tag  remove height////////done

    create a object for headertitle in json//////done
    AMOUNTFILED Should be use input for biller and sender as read only
    use dollar symbol $ prefix///done

    use mixin colour in style.scss//done
    2,4,8 mutlipe num /////////////done
    firefox /////////////done



 -->

<app-header [data]="header?.screen1"></app-header>

<div class="navbar" *ngIf="literal">
    <div class="user-details">
        <img *ngIf="paymentMode !==paymentType.BILLER" class="user-subprofile" [src]="subUserLogo">
        <img class="user-profile" [src]="getImage()" alt="">
        <h4>{{bill?.recipient}} {{bill?.accountNo}}</h4>
        <h5 class="text text-center">{{bill?.enrolledAs}}</h5>
        <h5 class="user-number">{{getMobile()}}</h5>
    </div>
    <hr class="line-break">
    <h6 [ngClass]="paymentMode=== paymentType.BILLER  ? 'amount' : 'amount amount-padding'">
        <ng-container *ngIf="paymentMode===paymentType.BILLER ">
            <h6 class="title">{{literal.amountTitle}}</h6>
            <div class="subtitle">{{literal.amountSubTitle}}</div>
        </ng-container>
        <h4 *ngIf="paymentMode !== paymentType.BILLER">{{literal.amountTitle}}</h4>
        <h1 class="amount-input">
            <span class="input-group-addon" *ngIf="bill?.amount">$</span>
            <input type="number" [ngClass]="bill && bill.amount? 'input-outline': 'input-outline no-amount'"
                [(ngModel)]="bill.amount" placeholder="{{literal.inputPlaceHolder}}"
                [readonly]="paymentMode !== paymentType.REQUESTOR" />
        </h1>
    </h6>
</div>
<ng-container *ngIf="paymentMode===paymentType.BILLER">
    <hr class="line-break">
    <div class="due navbar">
        <div class="user-date">
            <h6 class="account-type">{{literal?.due}} </h6>
            <h6 class="date">{{bill?.dueDate | dateFormat}}</h6>
        </div>
        <hr class="line-break">
        <div class="account">
            <h6 class="account-type">{{literal?.account}}</h6>
            <h6 class="account-number">{{bill?.accountNo}}</h6>
        </div>
    </div>
    <hr>
    <div class="view">{{literal?.viewStatement}}</div>
    <div class="click">{{literal?.selectionMethod}}</div>
</ng-container>
<div class="text text-center">
    <p360-button [type]="buttonType.SUBMIT" *ngIf="paymentMode === paymentType.BILLER" [data]="literal?.amountPayButton"
        (click)="onSubmit(route.MAKEAPAYMENT)"></p360-button>
    <p360-button [type]="buttonType.SUBMIT" *ngIf="paymentMode !== paymentType.BILLER" [data]="literal?.payButton"
        (click)="onSubmit(route.MAKEAPAYMENT)"></p360-button>
</div>
<div class="text text-center">
    <p360-button [type]="buttonType.CANCEL" [data]="literal?.backButton" (click)="onSubmit(route.DASHBOARD)"></p360-button>
</div>
