//  @import '../../../styles.scss';
.horizontal_scroll {
  overflow-x: scroll;
  scrollbar-width: none;
}

.horizontal_scroll::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.todo-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.favourites-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.todo-header, .recentactivity-header, .autopayments-header, .insights-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }

.todo-due-soon {
    background-color: white;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}

.todo-viewAll {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #29479e;
}

.recentactivity-container, .autopayments-container, .insights-container {
    margin-bottom: 25px;
}


.recentactivity-txt, .insights-txt {
    color: gray;
}

.autopayments-manage {
    font-size: 15px;
    font-weight: bold;
    color: #29479e;
    align-self: flex-start;
}

.autopayments-btn-txt {
    color:gray;
    margin: 8px 0;
}

.billsandutilities-header, .subscriptions-header, .transfers-header {
    font-weight: bold;
    font-size: 20px;
}

hr.divider
{
   margin-top: 0.1em;
   margin-bottom: 0.3em;
}

.bills-container {
    margin-bottom: 10px;
}

.subscriptions-container {
    margin-bottom: 10px;
}

.transfers-container {
    margin-bottom: 30px;
}

.bill-amount {
  font-size: 20px;
}

.insights-explore {
  font-weight: bold;
  font-size: 15px;
  color: #29479e;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid gray;
    -webkit-transition: .3s;
    transition: .3s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: gray;
    -webkit-transition: .3s;
    transition: .3s;
  }

  input:checked + .slider {
    background-color: #efbb57;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #efba57eb;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: white;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 16px;
    margin-right:  8px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .tab-navigation {
    display: flex;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .navigation {
    padding: 10px;
  }

  .tab {
    width: 100%;
    cursor: pointer;
    //padding: 16px 0 8px;
    padding: 6px;
    background-color: rgb(241, 241, 241);
    font-weight: bold;
    border-top: 2px solid rgb(194, 194, 194);
    border-bottom: none;
    border-left: none;
    border-right: none;
    word-spacing: 0.5ch;
    font-size: 14px;
    min-height: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 8px;
  }

  .tab.active {
    color: #29479e;
    border-top: 2px solid #29479e;
  }

  .overlapping-profile {
    margin-left: -20px;
  }

  .todo-parent {
    position: relative;
   //  max-height: 100vh;
   height: calc(100vh - 150px);
   overflow-y: auto;
   overflow-x: hidden;
 }

 .todo-footer {
   position: sticky;
   bottom: 0;
   z-index: 999;
   background-color: #f7f7f7;
   padding-top: 10px;
   min-width: 108%;
   margin: 0px -16px -16px -16px;
   overflow-y: hidden;
   border-top: 2px solid rgb(194, 194, 194);
   // height: 100%;
 }

 .nav-bar__style {
   //background-color: #edf2f514;
   margin-bottom: -25px;
 }
