<div class="dashborad-parent">
<!-- header-container -->
    <div class="d-flex align-items-center justify-content-between w-100">
        <app-header [data]="header.screen1"></app-header>
        <div>
            <i class="bi bi-plus-circle" style="color: #29479e; font-size: 20px;"></i>&nbsp;
            <i class="bi bi-lightbulb-fill" style="color: #29479e; font-size: 20px;"></i>
        </div>
    </div>
<!-- favouritesList-container -->
    <div class="d-flex justify-content-start align-items-center gap-2 horizontal_scroll">
        <div><img class="favourites-logo" src={{searchLogo}}></div>
        <div class="favourite-item" *ngFor ="let item of favouritesList">
            <div (click)="onClick(route.AMOUNTTOPAY, item.paymentAvenue ? 'sender': 'biller')">
                <!-- <div *ngIf = "item.paymentAvenue" (click)="onSubmit(route.ZELLESTARTSCREEN)"></div> -->
                <img class="favourites-logo" src="{{item.userLogo}}">
            </div>
        </div>
    </div>
<!-- todo-container -->
    <div class="todo-container">
        <div class="todo-header">{{literal.todo }}</div>
        <div class="todo-due-soon"><app-todo-due-soon></app-todo-due-soon></div>
        <!-- Displaying the length of todoBillsList -->
        <div class="todo-viewAll" (click)="onSubmit(route.TODO)">View All ({{todoListLength}})</div>
    </div>
<!-- recentactivity-container -->
    <div class="recentactivity-container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="recentactivity-header">{{literal.recentActivity}}</div>
            <i class="bi bi-arrow-right" style="color: #29479e; font-size: 20px;"></i>
        </div>
      <div class="recentactivity-txt"><i>{{literal.recentActivityTxt}}</i></div>
    </div>
<!-- autopayments-container -->
    <div class="autopayments-container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="autopayments-header w-20">
                {{literal.autoPayments}}
                <p class="m-0">{{literal.autoPaymentsDuration}}</p>
            </div>
            <div class="autopayments-manage">{{literal.manage}}</div>
        </div>
        <div class="autopayments-btn-txt">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <i>{{literal.autoPaymentsBtnTxt}}</i>
        </div>
    </div>
<!-- bills-container -->
    <div class="bills-container">
        <div class="d-flex flex-start justify-content-between">
            <div class="billsandutilities-header">
                {{literal.billsAndUtilities}}
            </div>
            <div class="bill-amount" *ngIf="billerAmount>0">
                ${{billerAmount}}
            </div>
        </div>

        <hr class="divider">
        <div class="d-flex justify-content-start align-items-center gap-2 horizontal_scroll my-2">
            <i class="bi bi-plus-circle" (click)="onSubmit(route.ADDBILLS)" style="color: #29479e; font-size: 30px;"></i>
            <div class="biller-list" *ngFor="let item of selectedBillerDetails ">
                <img class="biller-logo" src="{{item.userLogo}}">
            </div>
        </div>
     </div>
<!-- subscriptions-container -->
     <div class="subscriptions-container">
        <div class="subscriptions-header">{{literal.subscriptions}}</div>
        <hr class="divider">
        <div class="d-flex justify-content-start align-items-center gap-2 horizontal_scroll my-2">
            <i class="bi bi-plus-circle" style="color: #29479e; font-size: 30px;"></i>
        </div>
    </div>
<!-- transfers-container -->
<div class="transfers-container">
    <div class="transfers-header">{{literal.transfers}}</div>
    <hr class="divider">
    <div class="d-flex justify-content-start align-items-center gap-2 horizontal_scroll my-2">
        <i class="bi bi-plus-circle" style="color: #29479e; font-size: 30px;"></i>
    </div>
</div>
<!-- insights-container -->
    <div class="insights-container">
        <div class="d-flex flex-start justify-content-between mb-1">
            <div class="insights-header">
                {{literal.insights}}
            </div>
            <div class="insights-explore">
                {{literal.insightsExplore}}
            </div>
        </div>
        <div class="insights-txt"><i>{{literal.insightsTxt}}</i></div>
    </div>


<div class="todo-footer overlapping-profile">

    <div class="text text-center my-2 px-5  ">
        <p360-button [type]="buttonType.SUBMIT" [data]="literal.payBtn"></p360-button>
        <!-- <p360-button  [type]="buttonType.SUBMIT" [data]="literal.payTodos" (click)="onSubmit(route.TODOMULTIPAY)"></p360-button> -->
    </div>
    <div class="tab-navigation">
        <button class="tab pl-2" [class.active]="activeTab === 1" (click)="onSubmit(route.HOME)"><i class="bi bi-person bill-icon"></i>
            <span>{{literal.accounts}}</span></button>
        <button class="tab" [class.active]="activeTab === 2" (click)="onSubmit(route.HOME)"><i class="bi bi-currency-dollar bill-icon"></i>
            <span>{{literal.payments}}</span></button>
        <button class="tab" [class.active]="activeTab === 3" (click)="onSubmit(route.HOME)"><i class="bi bi-files bill-icon"></i>
            <span>{{literal.explore}}</span></button>
        <button class="tab" [class.active]="activeTab === 4" (click)="onSubmit(route.HOME)"><i class="bi bi-grid-fill bill-icon"></i>
            <span>{{literal.more}}</span></button>
    </div>
</div>
