<div class="carousel-container">
    <ngb-carousel class="custom-carousel" [showNavigationArrows]="false" [showNavigationIndicators]="true"
        [interval]="5000" [keyboard]="true" [pauseOnHover]="true" [wrap]="true">


        <!------------slide1--------------->

        <ng-template ngbSlide>
            <div class="img">
                <img src="{{slideImage[2]}}" alt="slide1">
            </div>
            <h1 class="centered"><span class="zoom">{{literal.ttitle}}</span></h1>
            <div class="carousel-caption">
                <h4 class="second-header">{{literal.sitter}}</h4>
                <p>{{literal.date}}</p>
            </div>
            <div class="btncontainer">
                <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.ZELLEPERMISSIONS)"></p360-button>
            </div>
        </ng-template>

        <!------------slide2--------------->

        <ng-template ngbSlide>
            <div class="img">
                <img src="{{slideImage[0]}}" alt="slide2">
            </div>
            <h1 class="centered"><span class="zoom">{{literal.ttitle}}</span></h1>
            <div class="carousel-caption">
                <h4 class="second-header">{{literal.paid}}</h4>
                <p>{{literal.receive}}</p>
            </div>
            <div class="btncontainer">
                <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.ZELLEPERMISSIONS)"></p360-button>
            </div>
        </ng-template>

        <!------------slide3--------------->

        <ng-template ngbSlide>
            <div class="img">
                <img src="{{slideImage[3]}}" alt="slide3">
            </div>
            <h1 class="centered"><span class="zoom">{{literal.ttitle}}</span></h1>
            <div class="carousel-caption">
                <h4 class="second-header">{{literal.safely}}</h4>
                <p>{{literal.quickly}}</p>
            </div>
            <div class="btncontainer">
                <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.ZELLEPERMISSIONS)"></p360-button>
            </div>
        </ng-template>

        <!------------slide4--------------->

        <ng-template ngbSlide>
            <div class="img">
                <img src="{{slideImage[1]}}" alt="slide4">
            </div>
            <h1 class="centered"><span class="zoom">{{literal.ttitle}}</span></h1>
            <div class="carousel-caption">
                <h4 class="second-header">{{literal.move}}</h4>
                <p>{{literal.simple}}</p>
            </div>
            <div class="btncontainer">
                <p360-button [type]="buttonType.SUBMIT" [data]="literal.started" (click)="onSubmit(route.ZELLEPERMISSIONS)"></p360-button>
            </div>
        </ng-template>

    </ngb-carousel>
</div>
